
# Python related files used for testing Terraform
__pycache__
.pytest_cache
.coverage
unit-test-report.html
bdd-test-report.html
.mutmut-cache
report.xml
mutation-report.html
.idea
**/.terraform
**/.terraform.lock.hcl
**/**/.terraform.state
**/**/terraform.tfstate
**/**/terraform.tfstate.backup
**/**/.terraform.backup
